.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn{
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.btn > button{
  padding: 5px;
  width: 60px;
}